<div class="dropdown">
    <button mat-button class="dropbtn"><mat-icon>{{headingIcon}}</mat-icon> {{heading}}</button>
    <span class="arrow-up"></span>
    <div class="dropdown-content">
        <a mat-button *ngFor="let mm of menus"
        [routerLink]="mm.route">
            <div class="dropdown-btn">
                <!-- <mat-icon>{{mm.icon}}</mat-icon> -->
                <i class="{{mm.icon}}" aria-hidden="true"></i>
                {{mm.name}}<br>
            </div>
        </a>
    </div>
    
  </div>