<app-srk-loader *ngIf="isLoading.customerDataByMobNo" 
[label]="'Loading, Please wait....'"></app-srk-loader>
<mat-card>
    <mat-card-content>
        <h1><u>VEHICLE SERVICE PORTAL:-</u></h1>
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex.gt-sm="50" fxFlex="100">
                <mat-form-field appearance="fill">
                    <mat-label>Mobile Number:</mat-label>
                    <input matInput (keydown)="onKeyDown($event)" (paste)="onPaste($event)"
                    [(ngModel)]="mobileNumber" (input)="this.getCustomerDataByMobNo()" maxlength="10">
                </mat-form-field>
            </div>
        </div>
        <ng-container>
            <app-customer-profile [serviceDTO]="serviceDTO" *ngIf="serviceDTO != undefined"
            [sendValue]="sendValueCustomer" (sendValueEvent)="getValuesCustomer($event)"
            [mobNo]="mobileNumber"></app-customer-profile>
        </ng-container>
        <ng-container>
            <app-vehicle-list [vehicles]="serviceDTO.vehicleDetails" *ngIf="serviceDTO != undefined"
            [sendValue]="sendValueVehicle" (sendValueEvent)="getValuesVehicle($event)"></app-vehicle-list>
        </ng-container>
        
        <br>
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex.gt-sm="100" fxFlex="100">
                <button mat-raised-button (click)="recieveVehicle()" color="primary"
                [disabled]="isLoading.customerDataByMobNo">Recieve Vehicle</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>