<app-srk-loader *ngIf="isLoading.customerDataByMobNo"></app-srk-loader>
<mat-card>
    <mat-card-content>
        <h1><u>SERVICE PORTAL:-</u></h1>
        <div fxLayout="row" fxLayoutGap="10px">
            <div fxFlex.gt-sm="50" fxFlex="100">
                <mat-form-field appearance="fill">
                    <mat-label>Mobile Number:</mat-label>
                    <input matInput (keydown)="onKeyDown($event)" (paste)="onPaste($event)"
                    [(ngModel)]="mobileNumber" (input)="this.getCustomerDataByMobNo()">
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>