<h3><u>VEHICLE LIST:-</u> &nbsp;
  <mat-icon style="cursor: pointer; color: green;" matTooltip="Click To Add Other Vehicle"
  (click)="onAddOtherVehicle()">
    add
  </mat-icon>
</h3>

<span *ngFor="let vechile of vehicles; let i = index;">
  <button type="button" (click)="onSelectVehicle(vechile, i)" style="margin-bottom: 5px;"
  [class.selected]="activeBtn[i]">
    <span class="badge">{{vechile.vehicleType | uppercase }}</span>
    <span class="name">{{vechile.vehicleNumber | uppercase }}</span>
    <span *ngIf="activeBtn[i]">
      <mat-icon>done</mat-icon>
    </span>
  </button> &nbsp;
</span>

<span *ngIf="activeBtn[-1]">
  <button type="button" style="margin-bottom: 5px;"
  [class.selected]="activeBtn[-1]">
    <span class="badge">{{vehicles[-1].vehicleType | uppercase }}</span>
    <span class="name">{{vehicles[-1].vehicleNumber | uppercase }}</span>
    <span *ngIf="activeBtn[-1]">
      <mat-icon>done</mat-icon>
    </span>
  </button>
</span>
<ng-container *ngIf="isOtherVehicle">
  <h3><u>Add vehicle from below form if not available in above list.</u></h3>

  <div [formGroup]="vehicleForm" style="margin-top: 5px;">
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex.gt-sm="45" fxFlex="100">
          <mat-form-field>
              <mat-label>Vehicle Type</mat-label>
              <mat-select formControlName="vehicleType">
                  <mat-option value="TWO WHEELER">TWO WHEELER</mat-option>
                  <mat-option value="THREE WHEELER">THREE WHEELER</mat-option>
                  <mat-option value="FOUR WHEELER">FOUR WHEELER</mat-option>
              </mat-select>
          </mat-form-field>
      </div>
      <div fxFlex.gt-sm="45" fxFlex="100">
          <mat-form-field>
              <mat-label>Vehicle Number</mat-label>
              <input matInput formControlName="vehicleNumber" (keydown)="onlyAlphaNumeric($event)"
              oninput="this.value = this.value.toUpperCase()" minlength="4">
          </mat-form-field>
      </div>
      <div fxFlex.gt-sm="10" fxFlex="100">
        <button matInput mat-raised-button color="primary" [class.selected]="activeBtn[-1]"
        (click)="onSelectVehicle(vehicleForm.value, -1)" [disabled]="!vehicleForm.valid">Select</button>
      </div>
    </div>
  </div>
</ng-container>



<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Vehicel ID </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicleId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Vehicle Type </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicleType}} </td>
    </ng-container>
  
    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef> Vehicle Number </th>
      <td mat-cell *matCellDef="let element"> {{element.vehicleNumber}} </td>
    </ng-container>

     <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Vehicle Number </th>
        <td mat-cell *matCellDef="let element"> select </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
  