.topbar {
    position: fixed;
    overflow: visible;
    left: 0;
    top: 0;
    height: 40px;
    background-color: rgb(187, 231, 229);
    width: 100vw;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
.app-heading {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}