.customer {
    padding: 5px;
    background-color: azure;
    font-size: 15px;
    border: 1px solid rgb(241, 239, 97);
    margin-bottom: 5px;
    margin-top: -10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}