/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
$btnWidth: 200px;
$btnContentColor: rgba(195, 209, 226, 0.8);
.avatarImg {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

// for dropdown button topbar starts
.dropbtn {
    background-color: rgb(187, 231, 229);
    color: white;
    font-size: 20px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 2px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #cde6d8;
    min-width: $btnWidth;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 0.7;
    z-index: 1;
    min-height: 48px;
    align-items: start;
    justify-content: flex-start;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .arrow-up {display: block;}
  
  .dropdown:hover .dropbtn {
    background-color: $btnContentColor;
    border-radius: 5px;
    text-align: left;
  }

  .arrow-up {
    position: relative;
    width: 0;
    height: 0;
    //border-left: 5px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $btnContentColor;
    display: none;
  }

  .dropdown-btn {
    width: $btnWidth;
    font-size: 16px;
    // align-items: start;
    // align-content: flex-start;
    // text-align: left;
  }
  // for dropdown button topbar ends
